#define APSTUDIO_READONLY_SYMBOLS

#define APSTUDIO_HIDDEN_SYMBOLS
#include <windows.h>
#undef APSTUDIO_HIDDEN_SYMBOLS

#include <winres.h>

#ifdef __MINGW32__
#include <winuser.h>
#endif // __MINGW32__

#undef APSTUDIO_READONLY_SYMBOLS

101 ICON "conhost.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0, 0, 1
 PRODUCTVERSION 0, 0, 1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG // 0x00000010L
#else // Release mode
 FILEFLAGS 0x00000000L // Normal?
#endif  // _DEBUG
 // Windows NT
 FILEOS VOS_NT_WINDOWS32 // 0x00040004L
 FILETYPE VFT_APP // 0x00000001L
 FILESUBTYPE VFT2_UNKNOWN // 0x00000000L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0" // English Unicode
        BEGIN
            VALUE "Comments", "https://github.com/Alex313031/gn-legacy"
            VALUE "CompanyName", "Alex313031"
            VALUE "FileDescription", "Hello World Console Test"
            VALUE "FileVersion", "0.0.1.0"
            VALUE "InternalName", "hello_console"
            VALUE "LegalCopyright", L"\251 2025 Alex313031"
            VALUE "LegalTrademarks", "BSD-3"
            VALUE "OriginalFilename", "hello_console.exe"
            VALUE "ProductName", "Hello World"
            VALUE "ProductVersion", "0.0.1"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
